* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 65.43%;
    background-color: black;
}

.container {
    width: 100%;
}

.container-item1 {
    display: flex;
}

.container-item1 img {
    width: 50%;
}

.container-item2 {
    display: block;
    width: 100%;
}

.container-item2 img {
    width: 100%;
}
