* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 65.43%;
    background-color: black;
}

.wrapper {
    width: 100%;
}

.container1 {
    display: flex;
}

.container1 img {
    width: 50%;
}

.container2 {
    display: block;
}

.container2 img {
    width: 100%;
}